*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

/* FUNDO DO SITE */

body{

background-color:#000000;

}


/* MENU */

header{

background-color:black;
color:white;

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 60px;

}

.logo span{
color:gold;
}

nav a{

color:white;
text-decoration:none;
margin-left:30px;
font-size:18px;

}

nav a:hover{
color:gold;
}


/* SEÇÃO PRINCIPAL */

.hero{

display:flex;
align-items:center;
justify-content:space-between;

height:90vh;

padding:60px;

color:white;

}


/* TEXTO */

.texto{

width:50%;

}

.texto h2{

font-size:60px;
margin-bottom:20px;

}

.texto p{

font-size:24px;
margin-bottom:30px;

}


/* BOTÃO */

button{

background:#f7c948;

border:none;

padding:18px 40px;

font-size:20px;

border-radius:12px;

cursor:pointer;

font-weight:bold;

}

button:hover{

background:#e6b63f;

}


/* IMAGEM DO LEÃO */

.imagem{

width:100%;


display:flex;

justify-content:flex-end;

}

.imagem img{

width:60%;
max-width:1400px;

}
.img2{
    width:100%;
max-width:1390px;
display: block;
margin-left:auto;
}A

a{
    color: whitesmoke;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(king.img/introducao.jpg); 
    background-size: contain;
    background-position: center 20%;

}

.secao-img2{
    width:100%;
    height:139vh;

    background-image: url("produtos.king/a61ea599-de42-47c1-87ec-c78b735e515c.jpg");

    background-size: contain;
    background-position: center 15%;
    background-repeat: no-repeat 20%;
}



.redes_socias{
text-align: center;
color: #ffffff;
}

    
/* CENTRALIZAR HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* ESPAÇO DO MENU */
nav {
    margin-top: 10px;
}

.footer {
    display: flex;
    align-items: center;    /* centraliza horizontal */
    justify-content: center;
    gap: 15px;

    width: 100%;
    margin: 0 auto;
    text-align: center;

    position: relative;
}


/* ÍCONES */
.redes_sociais_img {
    width: 60px;
}


/* IMAGEM NO CANTO */
.imagem-rodape {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 60px;
}